*{
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
h1{ 
    width: 10%;
    margin: 0 auto;
}
p.firstp{color:aqua}

.container{
    text-align: center;
}

.fir {
    border: 6px solid blue;
    margin: 20px 30px;
    padding: 4px 6px 4px 6px;
    background-color: aquamarine;
}
.sec {
    border: 6px dashed #080080;
    margin: 20px 30px;
    padding: 4px 6px 4px 6px;
    font-size : 2rem;
    font-weight: 600;
    text-decoration: underline;
}